body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: #333;
    margin: 0;
    height: 100%;
    overflow: hidden
}

#map-wrapper {
    position: relative;
    width: 100%;
    bottom: 0%;
    height: 100vh;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.buttons {
    background-color: #e50027;
    margin: 1vh;
    min-height: 3vh;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.buttonsInMap {
    background-color: #e50027;
    margin: 0.1vh;
    min-height: 2vh;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 15px 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}