.body, .content {
    display: flex;
    align-self: stretch;
    background: var(--background-dark);
}

.body, .side {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3125rem;
}

.body {
    padding: 1.25rem;
    justify-content: center;
}

.content {
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.side {
    flex: 1 0 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.title, .value, .key {
    font-family: var(--font-inter);
    font-style: normal;
    line-height: 100%;
}

.title {
    color: var(--text-dark);
    font-size: 0.875rem;
    font-weight: 600;
}

.value, .key {
    font-size: 0.75rem;
    font-weight: 400;
}

.key {
    color: var(--text-dark);
}

.value {
    color: var(--theme-secondary);
}