html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    background: #333;
}

#page-wrapper {
    width: 80%;
    background: #FFF;
    padding: 1em;
    margin: 1em auto;
    min-height: 300px;
    border-top: 5px solid #db1414;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.8);
}

#box {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    margin-top: 0;
}

img {
    max-width: 100%;
}

#fileDisplayArea {
    margin-top: 2em;
    width: 100%;
    overflow-x: auto;
}

.row {
    display: flex;
    margin: 1vh;
}

.column {
    margin: 0.2vh;
    flex: 50%;
}

#mapid {
    height: 180px;
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#map-wrapper {
    position: relative;
    width: 100%;
    bottom: 0%;
    height: 100vh;
    overflow: hidden;

}


.buttons {
    background-color: #e50027;
    margin: 1vh;
    min-height: 3vh;
    width: 100%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.span9 {
    position: relative;
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.col-container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
    text-align: center;
}

.col {
    display: table-cell; /* Make elements inside the container behave like table cells */
    text-align: center; 
}
